*{
    margin:0;
    padding: 0;
    text-decoration: none;
    outline: none;
}
.navbar{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #0066b2;
    color:white;

}
#regLog, #Logout  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#regLog{
    width: 150px;
}
.logout , .login , .register{
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #F40009;
    color: white;
}
#Logout{
    width: 200px;
}
.logReg{
    padding:20px 50px;
    background-color: 	#540094;
    color: white;
}
#body{
    padding: 200px 200px;
    background-color: #7f00e0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
}
.center{
    text-align: center;
}
.logReg input{
    width: 200px;
    margin-bottom:15px;
    padding: 5px;
    background-color: none;
    text-align: center;
}
::placeholder {
    color:black
}
.logReg input[type="submit"]{
    background-color: #8e75e4;
    width: 100%;
    border: none;
    cursor:pointer;
    color:white;
    padding:10px;
    border-radius: 5px;
    font-weight: bold;
}
.login{
    background-color: #0BDA51;
}
.register{
    padding: 10px 20px;
    background-color: #002244;
}
h2{
    margin-bottom: 20px;
}
#formLog , #formReg{
    display: flex ;
    flex-direction: column;
}
.text{
    padding: 20px 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}
.logReg a span{
    color: white;
    z-index: 1;
}




