{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
<body>
    {% if not request.user.is_authenticated %}
        <div id="body">
            {% include 'text.html' %}
            <div class="center">
                {% block body %}

                {% endblock %}
            </div>
        </div>
    {% else %}
        <div class="navbar">
            <h1>AZ credit</h1>
            <div>
                <div id="Logout">
                    <p>Username: {{user.username}}</p>
                    <a href="{% url 'logout' %}"><span class="logout">Logout</span> </a>
                </div>
            </div>
        </div>
    {% endif %}
</body>
</html>

