{% extends 'index.html'%}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />

{% block body%}
    <div class="logReg">
        <h2>Sign Up</h2>
        <form id="formReg" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.username}}
            {{form.email}}
            {{form.password1}}
            {{form.password2}}
            <input type="submit" value="Sign up">
        </form>
        <a href="{% url 'login' %}"><span>Go Back!</span></a>
    </div>
{% endblock %}